.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.menu{

}

.picture {

}

.main{
    grid-column: 2/4;
}
.main div{
    padding-top: 30px;
    padding-right: 180px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    padding-bottom: 30px;
    background: lightgrey;
    grid-column: 2/4;
}