.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: aliceblue;
}
.menu{
  grid-row: 1/9;
  background: aliceblue;
}


.main{
  grid-column: 2/3;
  background: lightcoral;
  padding-left: 15px;
  padding-right: 15px;

}
.main div{

  grid-row: 2/9;
}

.top1 {
  border-bottom: 3px solid black;
  height: 273px;

}
.banner {
  position: relative;

}