body{
    background: aliceblue;
}
h1{
    padding-left: 15px;
    font-size: 80px;
    font-family: Garamond, sans-serif;
}
h2 {
    padding-left: 5px;
}
h3{
    padding-left: 5px;
    font-size: 20px;
}

h4 {
    padding-left: 10px;
}

p{
    font-size: 16px;

}
p1{
    font-style: italic;
    font-size: 16px;
    padding-left: 40px;
}
