

body{
    background: aliceblue;
}
h1{
    font-size: 80px;
    font-family: Garamond, sans-serif;
    padding-top: 30px;
    padding-left: 30px;
}
h2 {
  padding-left: 5px;
    margin-bottom: -16px;
    padding-bottom: 10px;
}
h3 {
  padding-left: 48px;
  font-size: 20px;
}

h4 {
  padding-left: 10px;
}


.main p {
  font-size: 16px;
  line-height: 23px;
  padding: 10px 50px 30px 50px;
}


p1{
    font-style: italic;
    font-size: 16px;
    padding-left: 40px;

}

.topH {
  grid-column: 2/3;
  background: white;
  /* margin-top: -32px; */
  border-bottom: 3px solid black;
  padding-bottom: 55px;
}

.topH h1 {
  font-size: 100px;
  font-family: Garamond, sans-serif;
  text-align: left;
  margin: 0;
  padding: 60px;
}

@media only screen and (max-width: 630px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 292px;
  }

  .main {
    grid-column: 1;
    padding: 15px;
  }

  .topH h1 {
    margin: 0px 0px 0px 0px;
    padding: 60px;
  }

  .topH {
    grid-column: 1;
    padding: 0;
  }

  .menu {
    grid-row: 1;
  }

  .contact {
    grid-column: 1;
    grid-row: 4;
    margin: 20px;
    padding: 30px 30px;
    line-height: 30px;
    justify-content: space-evenly;
  }
}
